<div class="messagesWrapper">
    {{#if isEmpty}}
        <div class="empty">Выберите чат чтобы отправить сообщение</div>
        {{else}}
        <div class="messagesHeader">
        <div class="rightColumn">
            {{#if (isFilled logo)}}
            <img class="chatListImageMessage" src="{{logo}}">
            {{else}}
            <div class="chatListImageMessage empty"></div>
            {{/if}}
            <span>{{title}}</span>
        </div>
        <div class="leftColumn">
            {{{ chatSettings }}}
        </div>
    </div>

    <div class="messagesItemsWrapper">
        {{{ messages }}}
    </div>
    
    <div class="messagesFooter">
        {{{ messageInput }}}
        {{{ sendButton }}}
    </div>
    {{/if}}
    
</div>
