<div class="messagesWrapper">
    <div class="messagesHeader">
        <div class="rightColumn">
            {{#if (isFilled logo)}}
            <img class="chatListImage" src="{{logo}}">
            {{else}}
            <div class="chatListImage empty"></div>
            {{/if}}
            <span>{{name}}</span>
        </div>
        <div class="messagesSetting"></div>
    </div>

    <div class="messagesItems"></div>
    
    <div class="messagesFooter">
        {{{ fileButton }}}
        {{{ messageInput }}}
        {{{ sendButton }}}
    </div>
</div>
