<div class="formModal">
{{{ title }}}
<form class="form">
    <div class="formInputs">
        {{{ inputLogin }}}
        {{{ inputPassword }}}
    </div>
<div class="formFooter">
{{{ button }}}
{{{ link }}}
</div>
</form>
</div>
