{{#if isShowSettings}}
<div class="profileWrapper">
<form class="form">
    {{#if display_avatar}}
    <img class="profileImage" src="{{display_avatar}}" alt="{{title}}">
    {{else}}
    <div class="profileImage empty"></div>
    {{/if}}
    {{{ inputAvatar }}}
    <span>{{display_name}}</span>
    <div class="formInputs">
        {{{ inputEmail }}}
        {{{ inputLogin }}}
        {{{ inputFirstName }}}
        {{{ inputSecondName }}}
        {{{ inputDisplayName }}}
        {{{ inputPhone }}}
        {{{ inputOldPassword }}}
        {{{ inputNewPassword }}}
    </div>
</form>
<div class="formFooter">
        {{{ editButton }}}
        {{{ saveButton }}}
        {{{ linkExit }}}
        
    </div>
</div>

<div class="backButtonWrapper">
    <div class="backButton">{{{ backLink }}}</div>
    
</div>

{{{ notification }}}

{{/if}}
