<div class="formModal">
{{{ title }}}
<form class="form">
    <div class="formInputs">
{{{ inputEmail }}}
{{{ inputLogin }}}
{{{ inputFirstName }}}
{{{ inputSecondName }}}
{{{ inputPhone }}}
{{{ inputPassword }}}
{{{ inputPasswordRepeated }}}
</div>
<div class="formFooter">
{{{ button }}}
{{{ link }}}
</div>
</form>
</div>
